<html>
<head>
    <title>Artists - Spotify Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <link rel="icon" type="image/png" href="/static/favicon.ico" />

    <style>
        {% if app_params.get('search_url_music') == '' %}
            .search_icon {
                display: none;
            }
        {% endif %}
    </style>
</head>

<body>
<span class="header">
    <span class="category_number">{{ artists | length }} artists</span>
    {% if metadata == None %}
        <span class="category_item warning"><span>No analysis performed yet</span> ➤
                <span><a class="api_link_reference" href="/refresh">/refresh</a></span></span>
    {% else %}
        {% if status == None %}
            <span class="category_item"><span>Last scan : {{ metadata.last_execution }} </span> ➤
                    <span><a class="api_link_reference" href="/refresh">/refresh</a></span></span>
        {% else %}
            <span class="category_item"><span>Running scan</span> ➤ <span>{{ status.get('current_artist') + status.get('current_show') }} on {{ status.get('total_artists') + status.get('total_shows') }}</span></span>
        {% endif %}
    {% endif %}
</span>

<span class="artists_main_container">
{% if reverse_sort %}
    {% set artists = artists | sort(attribute=sort_by) | reverse %}
{% else %}
    {% set artists = artists | sort(attribute=sort_by) %}
{% endif %}

{% for artist in artists %}
    <span class="artist_card">
        <a target="_blank" href="{{ artist.external_urls.spotify }}">
            <span class="image_container">
                <img class="artist_image" src="{{ artist.images[1].url }}" alt="{{ artist.name }}"/>
            </span>
        </a>
    <span class="artist_name">{{ artist.name }} <a class="search_icon" target="_blank"
                                                   href="{{ app_params.get('search_url_music') | replace('{}', (artist.name | urlencode) ) }}">🔎</a></span>
    </span>
{% endfor %}
</span>
</body>
</html>