<html>
<head>
    <title>Shows - Spotify Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.ico" />
    <script src="/static/engine.js"></script>

    <style>
        {% if app_params.get('search_url_shows') == '' %}
            .search_icon {
                display: none;
            }
        {% endif %}
    </style>
</head>

<body>
<span id="burger_menu" class="hidden_big_screen"><img src="/static/menu.svg"/></span>
<span class="menu hidden" id="menu" data-nb_artists="{{ metadata.nb_artists | default(0) }}"
      data-nb_releases="{{ metadata.nb_releases | default(0) }}"
      data-nb_shows="{{ metadata.nb_shows | default(0) }}"
      data-nb_episodes="{{ metadata.nb_episodes | default(0) }}">
</span>

<span class="header">
    <span id="refresh_status">
    {% if metadata == None and status == None %}
        <span class="category_item warning"><span>No analysis performed yet</span> ➤
            <span><a class="api_link_reference" href="/refresh">/refresh</a></span></span>
    {% elif status == None %}
        <span class="category_item"><span>Last scan : {{ metadata.last_execution }} </span> ➤
                <span><a class="api_link_reference" href="/refresh">/refresh</a></span></span>
    {% else %}
        <span class="category_item"><span>Running scan</span> ➤ <span>{{ status.get('current_artist') + status.get('current_show') }} on {{ status.get('total_artists') + status.get('total_shows') }}</span></span>
    {% endif %}
    </span>
</span>

<span class="artists_main_container">
{% if reverse_sort %}
    {% set shows = shows | sort(attribute=sort_by) | reverse %}
{% else %}
    {% set shows = shows | sort(attribute=sort_by) %}
{% endif %}

{% for show in shows %}
    <span class="artist_card">
        <a target="_blank" href="{{ show.show.external_urls.spotify }}">
            <span class="image_container">
                <img class="artist_image" src="{{ show.images[1].url if show.images[1] else 'static/default_image.png' }}" alt="{{ show.show.name }}"/>
            </span>
        </a>
    <span class="artist_name">{{ show.show.name }} <a class="search_icon" target="_blank"
                                                      href="{{ app_params.get('search_url_shows') | replace('{}', (show.show.name | urlencode) ) }}">🔎</a></span>
    </span>
{% endfor %}
</span>
</body>
</html>